.about_img {
    background-image: url('./img/card1.png');
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
}

.main_vid {
  background-image: url('./img/main_vid.mp4');
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 100px;
}